.socialwapper {
    display: flex;
    width: 351px;
    padding: 12px 24px;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
    background: var(--Linkbrary-gray10, #e7effb);
}

.socialbox {
    display: flex;
    gap: 172px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.socialiconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.socialtext {
    color: var(--Linkbrary-gray100, #373740);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
