.headerbox {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 30px;
}

.headertext {
    color: var(--black, #000);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.signupLink {
    color: #6d6afe;
    cursor: pointer;
    text-decoration: underline;
}

.signupbutton {
    display: flex;
    width: 400px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: var(
        --gra-purpleblue-to-skyblue,
        linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%)
    );
    cursor: pointer;
    color: var(--Grey-Light, #f5f5f5);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 35px;
}

.sosialwapper {
    display: flex;
    width: 351px;
    padding: 12px 24px;
    margin-top: 32px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
    background: var(--Linkbrary-gray10, #e7effb);
}

.sosialbox {
    display: flex;
    gap: 172px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sosialiconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sosialtext {
    color: var(--Linkbrary-gray100, #373740);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.signuptext {
    color: var(--black, #000);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.errormessage {
    color: var(--Linkbrary-red, #ff5b56);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
